.screen {
    background-color: $color-secondary;
    border-style: none;
    width: 100%;
    height: 70.13px;
    margin-top: 5px;
}

button {
    background-color: $color-secondary;
    border: none;
    color: $color-black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 70.13px;
}

.blank {
    width: 70.13px;
    height: 70.13px;
}