body {
    background-color: #171717;
    display: flex;
    justify-content: center;
}

.main {
    background-color: $color-primary;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.header {
    color: $color-black;
    padding: 20px 0;
    font-size: 30px;
}

.calculator {
    background-color: $color-black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5px;
    width: 100%;
    margin: 10px;
    padding: 1px;
}

@media screen and (max-width: 389px) {
    .header {
        font-size: 29px;
    }

    button {
        width: 70.13px;
    }
}

@media screen and (max-width: 350px) {
    button {
        width: 70px;
    }
}

@media screen and (max-width: 360px) {
    .main {
        width: 100%;
    }
}

@media screen and (max-width: 410px) {
    .header {
        font-size: 29px;
    }
}